<!DOCTYPE html>
<html>
  <head>
    <title>Playlister</title>

    <link rel="stylesheet" href="main.css">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

    <script src="https://rdio.com/api/api.js?client_id=DWs_aCu12-rS7kSxJkw8lg"></script>
    <script src="underscore-min.js"></script>
    <script src="jquery-1.9.1.min.js"></script>
    <script src="main.js"></script>
    <script id="trackfind-template" type="text/template">
    </script>
    <script id="seedtrack-template" type="text/template">
      <div class="seedtrack" data-key="<%= track.key %>">
        <span class="removetrack">X</span><%= track.artist %> - <%= track.name %>
      </div>
    </script>
    <script id="tracklist-template" type="text/template">
      <ul class="tracklist">
        <% _.each(tracks, function(track) { %>
          <li data-key="<%= track.key %>"><img src="<%= track.icon %>" /><%= track.artist %> - <%= track.name %></li>
        <% }); %>
      </ul>
    </script>
  </head>
  <body>
    <div id="auth">
      <div class="wizard">
        <img src="wizard.jpg" />
      </div>
    </div>
    <div id="content" class="search">
      <div class="left initial">
        <div id="seedtracks">
        </div>
        <div id="searchrow">
          <div><input type="text" placeholder="Search for a song" /><span class="searchbutton button">Search</span></div>
        </div>
        <div id="searchresults">
          <span class="hidesearch">X</span>
          <div class="searchlist"></div>
        </div>
        <div id="tracks">
        </div>
      </div>
      <div class="right">
        <div class="wizard">
          <img src="wizard.jpg" />
        </div>
        <div id="go">
          <span class="button">Load tracks</span>
        </div>
        <div id="save">
          <span class="launchsave button">Get this party started!</span>
          <div class="savepanel">
            <input type="text" /> <span class="confirmsave button">Create</span>
            <span class="cancelsave button">Cancel</span>
          </div>
        </div>
      </div>
          </div>
      <div class="partyMode">
        <img id="artwork" src=""/>
        <div class="playControls">
          <span id="previous">Previous</span>
          <span id="play"/>&#x25BA</span>
          <span id="pause"/></span>
          <span id="next"/>Next</span>
        </div>
      </div>
    </div>
  </body>
</html>
