/* START RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END RESET */

html, body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #fff;
  color: #000;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

input {
  background-color: #fff;
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
  border: 1px solid ;
  line-height: 20px;
  font-size: 20px;
  padding: 10px;
  outline: 0;
}

table td {
  vertical-align: middle;
}

#auth {
  text-align: center;
}

#content {
  display: none;
  margin: 20px auto;
  text-align: center;
}

.left {
  display: inline-block;
  padding-top: 0;
  -webkit-transition: padding-top 0.2s linear;
}

.left.initial {
  padding-top: 250px;
}

.right {
  display: inline-block;
  vertical-align: top;
}

#go {
  display: none;
  line-height: 50px;
  margin-top: 20px;
}

.partyMode {
  display: none;
  height: 100%;
  width: 100%;
  text-align: center;
}

.partyMode #artwork {
  height: 100%;
  margin: 0 auto;
}

.partyMode .playControls {
  margin: 0 auto;
  position: absolute;
  bottom: 0;
}

#tracks {
  display: none;
  width: 340px;
  margin-top: 20px;
  text-align: left;
}

#tracks li {
  padding: 10px;
  margin-bottom: 5px;
  background: white;
  color: black;
}

#save {
  display: none;
  line-height: 50px;
  margin-top: 20px;
}

#save .launchsave {
  text-transform: uppercase;
}

#save .savepanel {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 210px;
  background-color: rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
}

#seedtracks {
  display: none;
  background: white;
  color: black;
  width: 340px;
  margin-bottom: 20px;
}

#seedtracks .removetrack {
  float: right;
}

#seedtracks .seedtrack {
  padding: 10px;
  text-align: left;
  border-top: 5px solid white;
}

#searchresults {
  display: none;
  position: absolute;
  text-align: left;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

#searchresults .hidesearch {
  float: right;
}

#searchresults .searchlist {
  width: 340px;
  margin: 0 auto;
  height: 100%;
  overflow: auto;
}

#searchresults .searchlist .tracklist {
  padding: 20px 0;
}

#searchresults .searchlist li {
  padding: 5px;
  cursor: pointer;
  color: #fff;
}

#searchresults .searchlist li:hover {
}

#searchrow {
}

#searchrow.initial {
}

#searchrow .searchbutton {
}

.tracklist li {
  font-size: 17px;
  line-height: 50px;
  white-space: nowrap;
}

.tracklist li img {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

.button {
  font-size: 20px;
  margin-left: 20px;
  padding: 10px;
  border: 1px solid;
  cursor: pointer;
}

.wizard {
  margin-top: 20px;
}

@keyframes wiz
{
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@-moz-keyframes wiz /* Firefox */
{
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes wiz
{
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

.wizard.loading {
  animation: wiz 0.5s infinite linear;
  -moz-animation: wiz 0.5s infinite linear; /* Firefox */
  -webkit-animation: wiz 0.5s infinite linear; /* Safari and Chrome */
  -o-animation: wiz 0.5s infinite linear; /* Opera */
}
